@CHARSET "ISO-8859-1";

body {
  padding-top: 3.5rem;
}

.card{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.alert{
	margin-left: 10px;
	margin-right: 10px;
}

.aw-link-panel{
	float: right;
}

.aw-titulo-panel{
	float: left;
}

.custom-radio{
	padding-top: 1.5rem;
    padding-left: 0.35rem;
	
}

.custom-control-description{
	font-size: 10pt;
}