<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
<head>
	<title>Cadastro Avaliação</title>
</head>

<section layout:fragment="conteudo">

	<div class="card">
		<div class="card-header">
			<h5 class="card-title aw-titulo-panel">Nova Avaliação</h5>
			<a class="btn btn-link aw-link-panel" href="/avaliacoes">Voltar para pesquisa</a>
		</div>
		
		
		<div class="card-body">
			
			<form method="post" action="/avaliacoes" th:object="${avaliacao}">
				
				<input type="hidden" th:field="*{codigo}" />
				
				<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>
		
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					
					<ul>
					  <li th:each="err : ${#fields.detailedErrors()}" th:text="${err.message}" />
					</ul>
				</div>
				
				<div class="row">
					<label class="col-sm-2 col-form-label">Título</label>
					<div class="col">
      					<input th:field="*{titulo}" type="text" class="form-control form-control-sm"/>
    				</div>
  				</div>
  				
				<div class="row">
					<label class="col-sm-2 col-form-label">Data início</label>
					<div class="col">
      					<input th:field="*{dataInicio}" type="text" class="form-control form-control-sm" 
      						data-provide="datepicker" data-date-language="pt-BR" data-date-format="dd/mm/yyyy" 
      						data-date-today-highlight="true" data-date-autoclose="true"  />
    				</div>
					<label class="col-sm-2 col-form-label">Data fim</label>
    				<div class="col">
      					<input th:field="*{dataFim}" type="text" class="form-control form-control-sm" 
      						data-provide="datepicker" data-date-language="pt-BR" data-date-format="dd/mm/yyyy" 
      						data-date-today-highlight="true" data-date-autoclose="true"  />
    				</div>
  				</div>

				<div class="row">
					<label class="col-sm-2 col-form-label">Descrição</label>
					<div class="col">
      					<textarea th:field="*{descricao}" class="form-control form-control-sm" rows="2" cols=""></textarea>
    				</div>
  				</div>
  				
  				
  				<div  id="accordion" role="tablist" class="card mb-3">
  					<div class="card-header col-sm-12 text-center">
  						<h6>
  							<a href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >Seleção Avaliadores</a>
  						</h6>
  					</div>
  					
					<div class="card-header">
						<button type="button" class="close btn">+</button>
						<div class="row">
							<h6 class="col-sm-3">Nível avaliado</h6>
							<h6 class="col-sm-3">Nível avaliador</h6>
							<h6 class="col-sm-3">Tipo seleção</h6>
							<h6 class="col-sm-2">N° Avaliadores</h6>
							<h6 class="col-sm-1">Peso</h6>
						</div>
					</div>
					
					<ul class="list-group list-group-flush" th:each="detalhe, iterStat : ${avaliacao.detalhes}">
    					<li class="list-group-item">
    						<button type="button" class="close btn">-</button>
    						<div class="row">
	    						<span class="col-sm-3" th:text="${detalhe.nivelAvaliado.descricao}"></span>
								<span class="col-sm-3" th:text="${detalhe.nivelAvaliador.descricao}" ></span>
								<span class="col-sm-3" th:text="${detalhe.tipoSelecao.descricao}"></span>
								<span class="col-sm-2" th:text="${detalhe.quantidadeAvaliadores}">N° Avaliadores</span>
								<span class="col-sm-1" th:text="${detalhe.pesoAvaliador}">Peso</span>
    						</div>
    					</li>
  					</ul>
				  
				</div>
  				
  				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
					</div>
				</div>
  				
			</form>
		</div>
	</div>		

</section>

</html>