<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
<head>
	<title>Cadastro Avaliação</title>
</head>

<section layout:fragment="conteudo">

	<div class="card">
		<div class="card-header">
			<h5 class="card-title aw-titulo-panel">Nova Avaliação</h5>
			<a class="btn btn-link aw-link-panel" href="/avaliacoes/">Voltar para pesquisa</a>
		</div>
		
		
		<div class="card-body">
			
			<form method="post" action="/avaliacoes" th:object="${avaliacao}">
				
				<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>
		
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					
					<ul>
					  <li th:each="err : ${#fields.detailedErrors()}" th:text="${err.message}" />
					</ul>
				</div>
				
				<div class="row">
					<label class="col-sm-2 col-form-label">Título</label>
					<div class="col">
      					<input name="titulo" type="text" class="form-control form-control-sm"/>
    				</div>
  				</div>
  				
				<div class="row">
					<label class="col-sm-2 col-form-label">Data início</label>
					<div class="col">
      					<input name="dataInicio" type="text" class="form-control form-control-sm" 
      						data-provide="datepicker" data-date-language="pt-BR" data-date-format="dd/mm/yyyy" 
      						data-date-today-highlight="true" data-date-autoclose="true"  />
    				</div>
					<label class="col-sm-2 col-form-label">Data fim</label>
    				<div class="col">
      					<input name="dataFim" type="text" class="form-control form-control-sm" 
      						data-provide="datepicker" data-date-language="pt-BR" data-date-format="dd/mm/yyyy" 
      						data-date-today-highlight="true" data-date-autoclose="true"  />
    				</div>
  				</div>

				<div class="row">
					<label class="col-sm-2 col-form-label">Descrição</label>
					<div class="col">
      					<textarea name="descricao" class="form-control form-control-sm" rows="2" cols=""></textarea>
    				</div>
  				</div>

				<div class="row">
					<div class="col">
						<label>Avaliados</label>
      					<table class="table table-bordered table-sm">
      						<thead class="thead-inverse">
      							<tr>
      								<th>Nível avaliado</th>
      								<th>Nível avaliador</th>
      								<th>Tipo seleção</th>
      								<th>N° Avaliadores</th>
      								<th>Peso</th>
      								<th></th>
      							</tr>
      						</thead>
      						
      						<tbody>
      							<tr>
      								<td>
      									<select th:field="${avaliacao.detalhes[0].nivelAvaliado}" class="form-control form-control-sm">
      										<option value="">Selecione...</option>
      										<option th:each="nivelHierarquico : ${niveisHierarquicos}" th:value="${nivelHierarquico}" th:text="${nivelHierarquico.descricao}" />
      									</select>
      								</td>
      								<td>
      									<select th:field="${avaliacao.detalhes[0].nivelAvaliador}" class="form-control form-control-sm">
      										<option value="">Selecione...</option>
      										<option th:each="nivelHierarquico : ${niveisHierarquicos}" th:value="${nivelHierarquico}" th:text="${nivelHierarquico.descricao}" />
      									</select>
      								</td>
      								<td>
      									<select th:field="${avaliacao.detalhes[0].tipoSelecao}" class="form-control form-control-sm">
      										<option th:each="tipoSelecao : ${tiposSelecoes}" th:value="${tipoSelecao}" th:text="${tipoSelecao.descricao}" />
      									</select>
      								</td>
      								<td>
      									<input type="number" th:field="${avaliacao.detalhes[0].quantidadeAvaliadores}" value="5" class="form-control form-control-sm"  />
      								</td>
      								<td>
      									<input type="number" th:field="${avaliacao.detalhes[0].pesoAvaliador}" value="3" class="form-control form-control-sm" />
      								</td>
      								<td>
      									<button type="button" class="btn btn-outline-success btn-sm">Add</button>
      									<button type="button" class="btn btn-outline-danger btn-sm">Rem</button>
      								</td>
      							</tr>

      							
      						</tbody>
      					</table>
    				</div>
  				</div>
  				
  				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
					</div>
				</div>
  				
			</form>
		</div>
	</div>		

</section>

</html>