<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
<head>
	<title>Cadastro Colaborador</title>
</head>

<section layout:fragment="conteudo">

	<div class="card">
		<div class="card-header">
			<h5 class="card-title aw-titulo-panel">Novo Colaborador</h5>
			<a class="btn btn-link aw-link-panel" href="/colaboradores">Voltar para pesquisa</a>
		</div>
		
		
		<div class="card-body">
			
			<form method="post" action="/colaboradores" th:object="${colaborador}">
				
				<input type="hidden" th:field="*{codigo}" ></input>
				
				<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>
		
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					
					<ul>
					  <li th:each="err : ${#fields.detailedErrors()}" th:text="${err.message}" />
					</ul>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 col-form-label">Nome</label>
					<div class="col">
      					<input th:field="*{nome}" type="text" class="form-control form-control-sm"/>
    				</div>
  				</div>

				<div class="form-group">
					<label class="col-sm-2 col-form-label">Nv. Hierárquico</label>
					<div class="col">
      					<select th:field="*{nivelHierarquico}" class="form-control form-control-sm col-sm-4" >
      						<option value="">Selecione...</option>
							<option th:each="nivelHierarquico : ${niveisHierarquicos}" th:value="${nivelHierarquico}" th:text="${nivelHierarquico.descricao}" />
      					</select>
    				</div>
  				</div>
  				
				<div class="form-group">
					<label class="col-sm-2 col-form-label">E-mail</label>
					<div class="col">
      					<input th:field="*{email}" type="email" class="form-control form-control-sm col-sm-4" />
    				</div>
  				</div>

  				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
					</div>
				</div>
  				
			</form>
		</div>
	</div>		

</section>

</html>