<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
<head>
	<title>Avaliação 360°</title>
	
	<link href="/css/dashboard.css" rel="stylesheet" />
</head>

<section layout:fragment="conteudo">

	<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Overview<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/avaliacoes">Avaliações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/colaboradores">Colaboradores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/criterios">Critérios</a>
            </li>
          </ul>

        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

          <h2>Avaliação 1° Semestre 2014</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Avaliado</th>
                  <th>Desenvolvedor 1</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                  	Questão 1
                  </td>
                  <td>
                  	<input class="rating" data-max="5" data-min="1" id="some_id" name="your_awesome_parameter" type="number" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
	
</section>

</html>