<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
lang="en">
<head>
<meta charset="UTF-8" />
<title>Avaliações</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	
	<nav class="navbar navbar-inverse navbar-static-top">
		<a class="navbar-brand" href="#">

    		Avaliação 360°
  		</a>
	</nav>
	
	<section layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
	</section>

<script type="text/javascript" src="/js/jquery-3.2.1.min.js" ></script>	
<script type="text/javascript" src="/js/popper.min.js" ></script>	
<script type="text/javascript" src="/js/bootstrap.min.js" ></script>	
</body>
</html>