<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8" />
<title>Avaliações</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="container-header">
				<a class="navbar-brand" href="#">
					<img alt="Avaliação" src="/images/logo-avalicao.png" />
				</a>
			</div>
		</div>
	</nav>
	<section layout:fragment="conteudo">
		<p>Conteúdo Principal</p>
	</section>

<script type="text/javascript" src="/js/jquery-2.1.4.min.js" ></script>	
<script type="text/javascript" src="/js/bootstrap.min.js" ></script>	
</body>
</html>