<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Login Avaliação</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />

</head>
<body>

	<div class="container">
		
		<form class="form-signin" action="/minhasAvaliacoes" method="post">
			
			<input class="form-control" type="email" placeholder="exemplo@teste.com.br" id="inputEmail" />			
			<input class="form-control" type="password" placeholder="senha" id="inputEmail" />			
		
			<button class="btn btn-large btn-primary btn-block">Login</button>
		
		</form>	
	</div>

</body>
</html>