<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">

<head>
	<title>Pesquisa de Colaboradores</title>
</head>
	
<section layout:fragment="conteudo">

	<div class="card">
		<div class="card-header">
			<h5 class="card-title aw-titulo-panel">Pesquisa de Colaboradores</h5>
			<a class="btn btn-link aw-link-panel" href="/colaboradores/novo">Novo Colaborador</a>
		</div>
		
		<div class="card-body">
			<table class="table table-bordered table-sm">
				<thead class="thead-inverse">
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Nv. Hierárquico</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="colaborador : ${colaboradores}">
						<td th:text="${colaborador.codigo}"></td>
						<td th:text="${colaborador.nome}"></td>
						<td th:text="${colaborador.email}"></td>
						<td th:text="${colaborador.nivelHierarquico.descricao}"></td>
						<td>
							<a th:href="@{colaboradores/{codigo}(codigo=${colaborador.codigo})}">editar</a>
							
							<a data-toggle="modal" data-target="#confirmacaoExclusaoModal"
								th:attr="data-codigo=${colaborador.codigo}, 
								data-descricao=${colaborador.nome},
								data-texto-entidade='o Colaborador',
								data-url-base='/colaboradores'" 
							>excluir</a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(colaboradores)}">
						<td colspan="6">
							Nenhum Colaborador encontrado
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
		
		<div layout:include="DialogoConfirmacaoExclusao"></div>
		
	</div>
	
</section>
	
</html>