<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">

<head>
	<title>Pesquisa de Questões</title>
</head>
	
<section layout:fragment="conteudo">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title aw-titulo-panel">Pesquisa de Questões</h5>
			<a class="btn btn-link aw-link-panel" href="/questoes/nova">Nova Questão</a>
		</div>
		
		<div class="card-body">
			<table class="table table-bordered table-sm">
				<thead class="thead-inverse">
					<tr>
						<th>#</th>
						<th>Descrição</th>
						<th>Tipo de Questão</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="questao : ${questoes}">
						<td th:text="${questao.codigo}"></td>
						<td th:text="${questao.descricao}"></td>
						<td th:text="${questao.tipoQuestao.descricao}"></td>
						<td>
							<a th:href="@{questoes/{codigo}(codigo=${questao.codigo})}">editar</a>
							
							<a data-toggle="modal" data-target="#confirmacaoExclusaoModal"
								th:attr="data-codigo=${questao.codigo}, 
								data-descricao=${questao.descricao},
								data-texto-entidade='a Questão',
								data-url-base='/questoes'" 
							>excluir</a>
						</td>
					</tr>
					
					<tr th:if="${#lists.isEmpty(questoes)}">
						<td colspan="6">
							Nenhum Questão encontrada
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
		
		<div layout:include="DialogoConfirmacaoExclusao"></div>
		
	</div>
	
</section>
	
</html>