<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">

<head>
	<title>Pesquisa de Avaliações</title>
</head>
	
<section layout:fragment="conteudo">

	<div class="card">
		<div class="card-header">
			<h5 class="card-title aw-titulo-panel">Pesquisa de Avaliações</h5>
			<a class="btn btn-link aw-link-panel" href="/avaliacoes/nova">Nova Avaliação</a>
		</div>
		
		<div class="card-body">
			<table class="table table-bordered table-sm">
				<thead class="thead-inverse">
					<tr>
						<th>#</th>
						<th>Titulo</th>
						<th>Data Início</th>
						<th>Data Fim</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="avaliacao : ${avaliacoes}">
						<td th:text="${avaliacao.codigo}"></td>
						<td th:text="${avaliacao.titulo}"></td>
						<td th:text="${avaliacao.dataInicio}"></td>
						<td th:text="${avaliacao.dataFim}"></td>
					</tr>
					<tr th:if="${#lists.isEmpty(avaliacoes)}">
						<td colspan="6">
							Nenhuma Avaliação encontrada
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
	
</section>
	
</html>